@{
  Layout = "_Layout";
}
@using DrSillyStringzFactory.Models;


<div class="container">
  <div class="jumbotron">
    <h1>@Model.Name Page</h1>
  </div>
  @if(Model.EngineerMachine.Count == 0)
  {
    <p>@Model.Name has no Enineers.</p>
  }
  <ol>
    @foreach (EngineerMachine engineerMachine in Model.EngineerMachines)
    {
        <li>@engineerMachine.Engineer.Name</li>
    }
  </ol>
    <ol>
    @foreach (EngineerLicense engineerLicense in Model.EngineerLicenses)
    {
        <li>@engineerLicense.License.LicenseType</li>
    }
  </ol>
  <button class="btn btn-outline-dark" onclick="window.location.href='/doctors/addSpecialty/@Model.DoctorId'">Add a Specialty</button>
  <button class="btn btn-outline-dark" onclick="window.location.href='/doctors'">Doctors</button>
  @Html.ActionLink("Delete","Delete", new {id = Model.DoctorId}, new{@class="btn btn-outline-dark"})


</div>
